html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	background: whitesmoke;
}

.navbar {
	background: #6ab446;
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

.header {
	background-image: url('images/header-background.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.titles {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.titles h1 {
	color: #6ab446;
}

.titles p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.titles button {
	border: 1px solid #6ab446;
	background: #6ab446;
	color: #fff;
}

.titles button:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
}

.racetracks {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.racetracks img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.racetracks .form-control,
.racetracks input {
	border-radius: 0;
}

.racetracks .btn {
	background-color: #589b37;
	border: 1px solid #589b37;
	color: #fff;
	margin-top: 20px;
}

.racetracks .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}

.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 60px 0 30px;
}

.footer-copyright {
	color: #666;
	padding: 40px 0;
}

@media (max-width: 600px) {

	.homepart {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.homepart h1 {
		font-size: 2em;
	}
	
	.homepart p {
		font-size: 1.2rem;
	}
	
	.racetracks {
		margin: 0;
	}
}

.winners:hover {
	background-color: #000;
	color: #fff;
}

.smallcaps {
	color: #6ab446;
	font-variant: small-caps;
}

h2 {
	font-size: 2.2rem;	
}

.page-footer a {
	text-decoration: none;
}