<div class="login-div">
    <form class="form-signin px-4" (submit)="submit()" #loginForm="ngForm">

        <h1 class="h3 mb-3 font-weight-normal text-center mb-4">Bejelentkezés</h1>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email cím" required="" autofocus=""
            [(ngModel)]="formdata.email" name="email">

        <input type="password" id="inputPassword" class="form-control" placeholder="Jelszó" required=""
            [(ngModel)]="formdata.password" name="password">
        <div class="text-center my-3">
            <button class="btn btn-lg btn-primary" type="submit" [disabled]="formdata.loading">
                <span *ngIf="formdata.loading" class="spinner-border spinner-border-sm mr-1"></span>
                Bejelentkezés
            </button>
        </div>
        <div class="text-center my-3">
            Még nincs hozzáférése: <a routerLink="/registration">Regisztráció</a>
        </div>

        <label *ngIf="formdata.error"
            class="text-danger fw-bold my-2 text-center w-100">{{formdata.error}}</label>

    </form>

</div>