.info {
    background-color: rgb(250, 250, 210);
    border: 2px solid rgb(105, 105, 105);
    border-radius: 10px;
}

.lablec a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.lablec a:hover {
    color: #f00;
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
}

p {
    text-align: justify;
}