<div  id="mainn">
    <div class=" m-5">
        <div class="row">
            <div class="col mt-5">
                    <div id="outer-div" class="text-center">
                        <h1>Heló Világ!</h1>
                        <div id="inner-div" class="mt-5">
                        <div id="fold"></div>
                        </div>
                    </div>
              <h1>Ez itt a "Kapj el, ha tudsz." online társasjáték!</h1>
              <div class="mt-5">
            
                      Ez a projekt egy
                      <a href="https://verseny.nisz.hu/" target="_blank" ><div class="btn btn-primary">24órás programozó verseny</div></a>
                    szüleménye.
            
                          Ha többet szeretnél megtudni, katt <a href="https://versenydonto.nisz.hu/csapat03/projekt03" target="_blank" ><div class="btn btn-primary">IDE</div></a>
              </div>
            </div>
            <div id="desc" class="container col">
                <h2><b>Kapj el, ha Tudsz!</b></h2>
            
                <p>A játék szabályainak megértéséhez nem kell veterán, heavy gamer társasjátékosnak lenni, hisz a mechanika egyszerű, és ami az élményt jelenti az a barátokkal eltöltött idő. Ehhez nyújt segítséget a játék közbeni videóhívás, ami közelebb hozhat titeket egymáshoz ebben a rideg világban.</p>
            
                <h3>A játék szabálya:</h3>
                <p>
                    Amint beléptek a lobbyba, a játék kisorsol közületek egy valakit aki a játék idelyére a bűnözőt fogja alakítani, a többiek pedig a nyomozó szerepét veszik magukra, akik megpróbálják kézrekeríteni a rettegett bűnözőt miután átkutatták utána egész Európát.
                    Bűnözőnk annyi előnyt élvez a játék során, hogy ő a lépéseinek helyét a játék során eltitkolja a többiek elől, viszont a lépéseinek típusa továbbra is publikus.
                </p>
                <h4>Lépésszabály:</h4>
                <p>
                    A kezdőhelyszínt véletlenszerűen sorsolja neked a játék
                    A készleted 3 féle jegyből áll. Ezekből minden utazásod alkalmával el kell használnod egyet, és nyomozóként a választott színű úton továbblépni a karaktereddel, amit mindenki (a bűnöző is) láthat. Bűnözőként pedig a csak a kártyád kijátszásával, jelezni a többiek felé milyen típusú utazási eszközt választasz, és te is leléped a megfelelő színű úton a lépésedet, csak a többiektől rejtve.
                </p>
                
                <h4>A kártyák kezdéskor:</h4>
                <ul>
                    <li id="blue">13 - Kék lapka - Autobusz</li>
                    <li id="green">10 - Zöld lapka - Vonat</li>
                    <li id="red">8 - Piros lapka - Repülő</li>
                </ul>
            
                <p>Attól függően, hogy mennyire szeretnétek megnehezíteni a nyomozók munkáját, egyezetek meg, hogy a bűnöző hány körönként fedi fel a pontos tartózkodási helyét. Erre az ajánlott érték a 6, de ez csakis rajtatok múlik.</p>
                
                <p>
                    A játék 24 körből áll (de megegyezés szerűen ezen az időtartamon változtathatok), és amennyiben ennek a letelte előtt sikerül valamelyik nyomozónak ugyan azon a mezőn állnia, amin a bűnöző is a körötök végén, akkor ezt a bűnözőnek fel kell fednie, a játék véget ér, a nyomozók nyertek.
                    Ha a 24 kör anélkül zajlik le, hogy a végére egyetlen egyszer sem találkozott a két ellenséges fél, a játéknak vége, a bűnözőnk megszökött európából, és megnyerte a játékot.
                </p>
            </div>
        </div>
    
      </div>
</div>