<h2 class="text-center">Igények/munkák listázása</h2>

<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="bg-dark text-white">
                <th style="width: 60px;" class="text-center">
                    
                </th>
                <th>Azonosító</th>
                <th>Bejelentő neve</th>
                <th>Bejelentés dátuma</th>
                <th>Dolgozó neve</th>
                <th>Igény leírása</th>
                <th>Határidő</th>
                <th>Elvégezve</th>
                <th>Ellenőrizve</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let work of works">
                <td class="text-center px-1">
                    <span *ngIf="!work.employeeId" class="fa fa-user cursor-pointer"></span>
                    <span *ngIf="work.employeeId && !work.finishDate" class="fa fa-check-circle cursor-pointer"></span> 
                    <span *ngIf="work.finishDate && !work.checkDate" class="fa fa-eye cursor-pointer"></span> 
                </td>
                <td class="text-center">{{work.id}}</td>
                <td>{{work.requesterName}}</td>
                <td>{{work.requestDate.replace('T', ' ')}}</td>
                <td>{{work.employeeName}}</td>
                <td>{{work.description}}</td>
                <td class="text-center">{{work.deadLine ? work.deadLine.substr(0, 10) : ''}}</td>
                <td class="text-center">{{work.finishDate ? 'Igen': 'Nem'}}</td>                
                <td class="text-center">{{work.checkDate ? 'Igen': 'Nem'}}</td>
            </tr>
        </tbody>
    </table>

</div>